services:

  minio:
    image: quay.io/minio/minio:${MINIO_VERSION}
    container_name: minio
    hostname: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=projetofinal
      - TZ="America/Sao_Paulo"
    volumes:
      - ./minio/data:/data
    networks:
      - sptrans-network
      
  minio-setup:
    image: minio/mc:${MINIO_MC_VERSION}
    container_name: minio-setup
    depends_on:
      - minio
    volumes:
      - ./sptrans_gtfs-files:/gtfs-data-local
    entrypoint: >
      /bin/sh -c "
      echo 'Aguardando o MinIO ficar pronto...';
      until (/usr/bin/mc alias set local http://minio:9000 admin projetofinal) do echo '...tentando novamente...' && sleep 1; done;
      echo 'MinIO pronto. Criando buckets...';
      /usr/bin/mc mb local/bronze --ignore-existing;
      /usr/bin/mc mb local/silver --ignore-existing;
      echo 'Buckets criados.';
      echo 'Copiando arquivos GTFS para a camada bronze...';
      /usr/bin/mc cp --recursive /gtfs-data-local/ local/bronze/gtfs/;
      echo 'Cópia dos arquivos GTFS concluída.';
      "
    networks:
      - sptrans-network
      
  nifi:
    image: apache/nifi:${NIFI_VERSION}
    container_name: nifi
    hostname: nifi
    environment:
      - NIFI_WEB_HTTPS_PORT=9443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=projetofinal
      - TZ="America/Sao_Paulo"
    volumes:
      - nifi_conf:/opt/nifi/nifi-current/conf
      - nifi_data:/opt/nifi/nifi-current/database_repository
    depends_on:
      - minio
    ports:
      - 9443:9443
    networks:
      - sptrans-network

  postgres:
    image: postgres:15
    container_name: postgres
    hostname: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=projetofinal
      - POSTGRES_DB=sptrans_dw
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./scripts/init-scripts:/docker-entrypoint-initdb.d
    networks:
      - sptrans-network

  spark-master:
    image: apache/spark:3.5.7-java17-python3
    container_name: spark-master
    hostname: spark-master
    user: root
    ports:
      - "8080:8080"
      - "7077:7077"
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    volumes:
      - ./spark/apps:/opt/spark/apps
    networks:
      - sptrans-network

  spark-worker:
    image: apache/spark:3.5.7-java17-python3
    container_name: spark-worker
    depends_on:
      - spark-master
    user: root
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_OPTS=-Dspark.worker.cleanup.enabled=true -Dspark.worker.cleanup.interval=300 -Dspark.worker.cleanup.appDataTtl=3600
    volumes:
      - ./spark/apps:/opt/spark/apps
    networks:
      - sptrans-network

  spark-streaming-processor-buses-current-position:
    image: apache/spark:3.5.7-java17-python3
    container_name: spark-streaming-processor-buses-current-position
    depends_on:
      - spark-master
      - kafka-setup
    user: root
    command: [ "/opt/spark/apps/entrypoint_streaming_buses_current_position.sh" ]
    environment:
      - TZ="America/Sao_Paulo"
    restart: always
    volumes:
      - ./spark/apps:/opt/spark/apps
    networks:
      - sptrans-network

  spark-streaming-processor-buses-average-speed:
    image: apache/spark:3.5.7-java17-python3
    container_name: spark-streaming-processor-buses-average-speed
    depends_on:
      - spark-master
      - kafka-setup
    user: root
    command: [ "/opt/spark/apps/entrypoint_streaming_buses_average_speed.sh" ]
    environment:
      - TZ="America/Sao_Paulo"
    restart: always
    volumes:
      - ./spark/apps:/opt/spark/apps
    networks:
      - sptrans-network 

  airflow-init:
    image: apache/airflow:${AIRFLOW_VERSION:-2.8.1}
    container_name: airflow-init
    depends_on:
      - postgres
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:projetofinal@postgres:5432/airflow_meta
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_DB_UPGRADE=true
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=admin
      - _AIRFLOW_WWW_USER_PASSWORD=projetofinal
    command: >
      bash -c "
        airflow db init &&
        airflow users create --role Admin --username admin --email guilhermepepa@gmail.com --firstname admin --lastname admin --password projetofinal &&
        airflow connections add 'spark_default' --conn-type 'spark' --conn-host 'spark://spark-master' --conn-port 7077
      "
    networks:
      - sptrans-network

  airflow-scheduler:
    image: apache/airflow:${AIRFLOW_VERSION:-2.8.1}
    container_name: airflow-scheduler
    depends_on:
      - postgres
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:projetofinal@postgres:5432/airflow_meta
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_DB_UPGRADE=true
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=admin
      - _AIRFLOW_WWW_USER_PASSWORD=projetofinal
      - _AIRFLOW_CONN_SPARK_DEFAULT=spark://spark-master:7077 
      - _PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-apache-spark pyspark apache-airflow-providers-docker
      - AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://admin:projetofinal@postgres:5432/sptrans_dw

    command: scheduler
    networks:
      - sptrans-network

  airflow-webserver:
    image: apache/airflow:${AIRFLOW_VERSION:-2.8.1}
    container_name: airflow-webserver
    depends_on:
      - airflow-scheduler
    ports:
      - "8081:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:projetofinal@postgres:5432/airflow_meta
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=admin
      - _AIRFLOW_WWW_USER_PASSWORD=projetofinal      
      - _AIRFLOW_CONN_SPARK_DEFAULT=spark://spark-master:7077
      - _PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-apache-spark pyspark apache-airflow-providers-docker
      - AIRFLOW_CONN_POSTGRES_DEFAULT=postgresql://admin:projetofinal@postgres:5432/sptrans_dw
    command: webserver
    networks:
      - sptrans-network


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - sptrans-network

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_MESSAGE_MAX_BYTES: 5242880
    networks:
      - sptrans-network
  
  kafka-setup:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka-setup
    depends_on:
      - kafka
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      echo 'Aguardando o Kafka ficar pronto...'
      cub kafka-ready -b kafka:9092 1 20
      
      echo 'Kafka pronto. Criando o tópico...'
      kafka-topics --bootstrap-server kafka:9092 --create --topic sptrans_posicoes_raw --partitions 1 --replication-factor 1 --if-not-exists
      
      echo 'Tópico criado com sucesso.'
      "
    networks:
      - sptrans-network
  
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      - MB_DB_TYPE=postgres
      - MB_DB_DBNAME=metabase_meta
      - MB_DB_PORT=5432
      - MB_DB_USER=admin
      - MB_DB_PASS=projetofinal
      - MB_DB_HOST=postgres
    networks:
      - sptrans-network

  api:
    build: ./api
    container_name: api
    hostname: api
    depends_on:
      - postgres
    ports:
      - "8002:8000"
    volumes:
      - ./api:/app
    environment:
      - DB_HOST=postgres
      - DB_NAME=sptrans_dw
      - DB_USER=admin
      - DB_PASS=projetofinal
      - TZ="America/Sao_Paulo"
    networks:
      - sptrans-network

networks:
  sptrans-network:
    driver: bridge


volumes:
  nifi_conf:
  nifi_data:
  spark_ivy_cache: