version: '3.8'

services:

  minio:
    image: quay.io/minio/minio:${MINIO_VERSION}
    container_name: minio
    hostname: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=projetofinal
      - TZ="America/Sao_Paulo"
    volumes:
      - ./minio/data:/data
    networks:
      - sptrans-network
      
  minio-setup:
    image: minio/mc:${MINIO_MC_VERSION}
    container_name: minio-setup
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc alias set local http://minio:9000 admin projetofinal) do echo '...aguardando MinIO...' && sleep 1; done;
      /usr/bin/mc mb local/bronze --ignore-existing;
      /usr/bin/mc mb local/silver --ignore-existing;
      /usr/bin/mc mb local/gold --ignore-existing;
      echo 'Buckets criados com sucesso.';
      "
    networks:
      - sptrans-network
      
  nifi:
    image: apache/nifi:${NIFI_VERSION}
    container_name: nifi
    hostname: nifi
    environment:
      - NIFI_WEB_HTTPS_PORT=9443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=projetofinal
      - TZ="America/Sao_Paulo"
    volumes:
      - nifi_conf:/opt/nifi/nifi-current/conf
      - nifi_data:/opt/nifi/nifi-current/database_repository
    depends_on:
      - minio
    ports:
      - 9443:9443
    networks:
      - sptrans-network


networks:
  sptrans-network:
    driver: bridge


volumes:
  nifi_conf:
  nifi_data: